 {"openapi":"3.0.1","info":{"title":"Energy Device API","version":"v1"},"servers":[{"url":"https://api.volvocars.com/energy-device/v1"},{"url":"https://api.volvocars.com/energy-device/v1"}],"paths":{"/user/idTokens":{"get":{"tags":["User ID tokens"],"summary":"Get users ID tokens","description":"Get the available ID tokens for the user","operationId":"GetUsersIdTokens","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IdToken"}},"example":[{"name":"string","token":"string"}]}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"429":{"description":"Too Many Requests"}},"parameters":[]},"post":{"tags":["User ID tokens"],"summary":"Add ID token","description":"Add a new ID token to the user","operationId":"AddIdToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdTokenRequest"},"example":{"name":"string","token":"string"}}}},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"429":{"description":"Too Many Requests"}},"parameters":[]},"patch":{"tags":["User ID tokens"],"summary":"Update ID token name","description":"Update ID token name","operationId":"UpdateIdTokenName","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdTokenRequest"},"example":{"name":"string","token":"string"}}}},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"429":{"description":"Too Many Requests"}},"parameters":[]}},"/user/idTokens/{id}":{"delete":{"tags":["User ID tokens"],"summary":"Delete ID token","description":"Remove an ID token of the user","operationId":"DeleteIdToken","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"429":{"description":"Too Many Requests"}}}},"/wallbox/{id}":{"get":{"tags":["Wallbox"],"summary":"Get wallbox information","description":"This endpoint will retrieve information about the wallbox.","operationId":"GetWallboxInformation","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WallboxResponse"},"example":{"value":"string"}}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"429":{"description":"Too Many Requests"}}}},"/wallbox/{id}/readIdToken":{"post":{"tags":["Wallbox"],"summary":"Initiate read IdToken via RFID reader","description":"This endpoint sets will set the wallbox in read RFID token mode","operationId":"InitiateReadIdTokenViaRfidReader","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted"},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WallboxOperationError"},"example":{"message":"string","code":"UNKNOWN_ERROR"}}}}}}},"/wallbox/{wallboxId}/start":{"post":{"tags":["Wallbox"],"summary":"Start charging","description":"This endpoint will start the charging of the wallbox.","operationId":"StartCharging","parameters":[{"name":"wallboxId","in":"path","required":true,"schema":{"type":"string"}},{"name":"idToken","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargingStateResponse"},"example":{"value":"string"}}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WallboxOperationError"},"example":{"message":"string","code":"UNKNOWN_ERROR"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WallboxOperationError"},"example":{"message":"string","code":"UNKNOWN_ERROR"}}}},"429":{"description":"Too Many Requests"}}}},"/wallbox/{wallboxId}/pause":{"post":{"tags":["Wallbox"],"summary":"Pause charging","description":"This endpoint will pause the charging of the wallbox.","operationId":"PauseCharging","parameters":[{"name":"wallboxId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargingStateResponse"},"example":{"value":"string"}}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WallboxOperationError"},"example":{"message":"string","code":"UNKNOWN_ERROR"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WallboxOperationError"},"example":{"message":"string","code":"UNKNOWN_ERROR"}}}},"429":{"description":"Too Many Requests"}}}},"/wallbox/{wallboxId}/chargingsessions":{"get":{"tags":["Wallbox"],"summary":"Get charging sessions","description":"This endpoint will filter charging sessions based on a start and end time and an optional idToken.","operationId":"GetChargingSessions","parameters":[{"name":"wallboxId","in":"path","required":true,"schema":{"type":"string"}},{"name":"start","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"idToken","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChargingSessionResponse"}},"example":[{"wallboxId":"string","transactionId":"string","idToken":"string","start":"string","end":"string","chargedEnergy":0,"connectorId":0}]}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WallboxOperationError"},"example":{"message":"string","code":"UNKNOWN_ERROR"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WallboxOperationError"},"example":{"message":"string","code":"UNKNOWN_ERROR"}}}},"429":{"description":"Too Many Requests"}}}},"/wallbox/{wallboxId}/chargingSchedule":{"post":{"tags":["Wallbox"],"summary":"Apply transactional charging schedule","description":"This endpoint will apply a transactional charging schedule to the wallbox.","operationId":"ApplyTransactionalChargingSchedule","parameters":[{"name":"wallboxId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplyChargingScheduleRequest"},"example":{"start":"string","periods":[{"$type":"WattPeriod","watt":0,"duration":"string"}],"scheduleId":{"value":"string"}}}}},"responses":{"202":{"description":"Accepted"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WallboxOperationError"},"example":{"message":"string","code":"UNKNOWN_ERROR"}}}},"429":{"description":"Too Many Requests"}}}},"/wallbox/{id}/setChargingAmpLimit":{"post":{"tags":["Wallbox"],"summary":"Set charging amp limit on wallbox","description":"This endpoint sets will set the charging amp limit","operationId":"SetChargingAmpLimitOnWallbox","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":true,"schema":{"type":"number","format":"float"}}],"responses":{"202":{"description":"Accepted"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WallboxOperationError"},"example":{"message":"string","code":"UNKNOWN_ERROR"}}}},"429":{"description":"Too Many Requests"}}}},"/wallbox/{id}/setDischargingAmpLimit":{"post":{"tags":["Wallbox"],"summary":"Set discharging amp limit on wallbox","description":"This endpoint will set the discharging amp limit","operationId":"SetDischargingAmpLimitOnWallbox","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":true,"schema":{"type":"number","format":"float"}}],"responses":{"202":{"description":"Accepted"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WallboxOperationError"},"example":{"message":"string","code":"UNKNOWN_ERROR"}}}},"429":{"description":"Too Many Requests"}}}}},"components":{"schemas":{"ApplyChargingScheduleRequest":{"required":["start","periods","scheduleId"],"type":"object","properties":{"start":{"type":"string","format":"date-time"},"periods":{"type":"array","items":{"$ref":"#/components/schemas/ChargingPeriodDto"}},"scheduleId":{"$ref":"#/components/schemas/ChargingScheduleId"}}},"ChargingPeriodDto":{"required":["$type"],"type":"object","anyOf":[{"$ref":"#/components/schemas/ChargingPeriodDtoWattPeriod"},{"$ref":"#/components/schemas/ChargingPeriodDtoAmperePeriod"}],"discriminator":{"propertyName":"$type","mapping":{"WattPeriod":"#/components/schemas/ChargingPeriodDtoWattPeriod","AmperePeriod":"#/components/schemas/ChargingPeriodDtoAmperePeriod"}}},"ChargingPeriodDtoAmperePeriod":{"required":["ampere","duration"],"properties":{"$type":{"enum":["AmperePeriod"],"type":"string"},"ampere":{"type":"number","format":"float"},"duration":{"pattern":"^-?(\\d+\\.)?\\d{2}:\\d{2}:\\d{2}(\\.\\d{1,7})?$","type":"string"}}},"ChargingPeriodDtoWattPeriod":{"required":["watt","duration"],"properties":{"$type":{"enum":["WattPeriod"],"type":"string"},"watt":{"type":"number","format":"float"},"duration":{"pattern":"^-?(\\d+\\.)?\\d{2}:\\d{2}:\\d{2}(\\.\\d{1,7})?$","type":"string"}}},"ChargingScheduleId":{"type":"object","properties":{"value":{"type":"string","nullable":true}},"nullable":true},"ChargingSessionResponse":{"required":["wallboxId","transactionId","idToken","start","chargedEnergy"],"type":"object","properties":{"wallboxId":{"type":"string"},"transactionId":{"type":"string"},"idToken":{"type":"string"},"start":{"type":"string","format":"date-time"},"end":{"type":"string","format":"date-time","nullable":true},"chargedEnergy":{"type":"number","format":"double"},"connectorId":{"type":"integer","format":"int32","nullable":true}}},"ChargingStateResponse":{"required":["value"],"type":"object","properties":{"value":{"type":"string"}}},"IdToken":{"required":["name","token"],"type":"object","properties":{"name":{"type":"string"},"token":{"type":"string"}}},"IdTokenRequest":{"required":["name","token"],"type":"object","properties":{"name":{"type":"string"},"token":{"type":"string"}}},"WallboxOperationError":{"required":["message","code"],"type":"object","properties":{"message":{"type":"string"},"code":{"$ref":"#/components/schemas/WallboxOperationErrorCodes"}}},"WallboxOperationErrorCodes":{"enum":["UNKNOWN_ERROR","WALLBOX_OFFLINE","WALLBOX_INCORRECT_STATUS","WALLBOX_IN_COOLDOWN","NOT_SUPPORTED_BY_WALLBOX"]},"WallboxResponse":{"required":["value"],"type":"object","properties":{"value":{"type":"string"}}}},"securitySchemes":{"apiKeyHeader":{"type":"apiKey","name":"vcc-api-key","in":"header","description":"Your application’s VCC API Key."},"accessToken":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"The access token issued by Volvo ID identity system."}}},"security":[{"apiKeyHeader":[]},{"accessToken":[]}],"tags":[{"name":"User ID tokens","description":"User-related operations for managing ID tokens"},{"name":"Wallbox","description":"Wallbox-related operations for charging management"}]}